*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #DEF6FA;
    padding: 0px 0.5rem 0px 0.5rem;

}

:root{
    --nf : font-family: "Plus Jakarta Sans";
    --h1: font-family: "Lora", serif;
    --btnCLR:#017B93;
    --iconClr:#F16CA7;
    --pClr:#575757;
    --pageClr:#121820;
    --h5clr:#017B93;


}
.header{
     width:100% ;
    height: 101.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    /* padding: 0 16px; */
   
    background-color: white;
    border-radius: 14px;
    margin: 20px 0px;
}
.logo{
    
    height: 190px;
    margin-left: -80px;
   
   

    

}
.logo img{
    height: 100%;
    width: 100%;
    
    
    

}

.header .nav{

    width: 578px;
    height: 18px;
    font-weight: 500;
    font-family: var(--h1);
    display: flex;
    justify-content: space-between;
   
    gap: 23px;
    
   
}
.header .nav a{
    font-size: 16px;
     font-weight: 500;
    font-family: var(--h1);
    color: #000;
    text-transform: capitalize;
    text-decoration: none;

 
}

.header .icons{
    color:var(--btnCLR); 
    
    display:flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;

}
.icons i{
    height: 40px;
    width: 40px;
    border: 1px solid #F16CA7;
    padding: 8.3px;
    border-radius: 50px;
    font-size: 20px;
}
.icons button{
    
    width: 162.9px;
    height: 50px;
    border-radius: 10px ;
   
    background-color: var(--btnCLR); 
    
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
}
.icons button i{
    border: none;
}

.header #click-me{
        display: none;
}
.header #menu-btn{
        display: none;
}



.about{
    height: 403px;
    width: 100%;
    border-radius: 20px;
    background-image: url(public/images/wonderful\ journey\ of\ chewing\ gum.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
   
}

.about-content{
    height: 100%;
    background-color:#1218209f;
    position: relative;
    border-radius: 20px;
    
}
.about-content h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

}

.about-content ol{
    list-style-type: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    display: flex;
    gap: 10px;
}

.mission{
    height:427.2px ;
    width: 100%;
    background-color: white;
    margin: 20px 0px;
    border-radius: 14px;
     padding: 100px 15px;
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
    
}
.mission .vission{
    height: 185px;
    width: 1240px;
    /* background-color: red; */
    padding: 0px 90px;


}


.vission h3{
    font-family: var(--h1);
    font-weight: 600;
    font-size: 46px;
}

.vission h3 span {
    font-family: var(--nf);
    font-weight: 400;
    font-style: italic;
    font-size: 46px;
}

.vission p{
    color: #575757;
    font-size: 16px;
    font-family: var(--h1);
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 20px;
    text-align: justify;
  
   
}


.chewing-gum{
    height: 49.93rem;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 100px 120px;
    display: flex;
}
.chewing-gum .chewing-image{
    height: 90%;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
}


.chewing-gum #image1{
    width: 37.812rem;
    height:  37.43rem;
    background: url(public/images/chewingGummm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}


.chewing-gum #image2{
    width: 37.812rem;
    height:  37.43rem;
    /* background-color: lightgreen; */
    padding: 0px 40px;

   
}

#image2 .heading{
    width: 100%;
    height: 20rem;
    padding: 40px 0px;
   
   
}

#image2 h3{
    font-family: var(--h1);
    font-weight: 600;
    font-size: 46px;
}
#image2 h3 span {
    font-family: var(--nf);
    font-weight: 400;
    font-style: italic;
    font-size: 46px;
}

#image2 p{
    color: #575757;
    font-size: 16px;
    font-family: var(--h1);
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 20px;
    text-align: justify;
  
   
}





#image2 .location{
    height: 14rem;
    width: 33rem;
    background-color: #DEF6FA;
    border-radius: 20px;
    display: grid;
   
   
    grid-template-areas: "call call mail mail"
                         "loc  loc  loc  loc";

    padding: 10px 10px 40px 10px;                  
}


#boxx1{
    grid-area: call;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 10px;
  
}
#boxx2{
    grid-area: mail;
    /* background-color: pink; */
    display: flex;
     align-items: center;
     justify-content: center;
    gap: 10px;
    
    
}
#boxx3{
    grid-area: loc;
    /* background-color:yellow; */
    display: flex;
     align-items: center;
     gap: 10px;
    padding-right: 40px;

}
.location .boxxx .img{
    height: 50px;
    width: 50px;
    border-radius: 5cm;
    background-color: var(--btnCLR);
    padding: 13px;

}

.location .boxxx .dtl{
    height: 4rem;
  
    
    flex-direction: column;
   
    text-align: justify;
   
   
}
#boxx1 .dtl h3{
    font-size: 1.2rem;
    font-family: var(--h1);
    font-weight: 600;
    line-height: 26px;
    color:#121820;
   
}
#boxx1 .dtl p{
    font-size: 1rem;
    font-family: var(--h1);
    font-weight: 400;
    color: #575757;
    line-height: 26.5px;
   
}
#boxx2 .dtl h3{
    font-size: 1.2rem;
    font-family: var(--h1);
    font-weight: 600;
    line-height: 26px;
    color:#121820;

}
#boxx2 .dtl p{
    font-size: 1rem;
    font-family: var(--h1);
    font-weight: 400;
    color:#575757;
    line-height: 26.5px;
   
   
}
#boxx3 .dtl h3{
    font-size: 1.2rem;
    font-family: var(--h1);
    font-weight: 600;
    line-height: 26px;
    color:#121820;
}
#boxx3.dtl p{
    font-size: 1rem;
    font-family: var(--h1);
    font-weight: 400;
    color: #575757;

   
}
.bubble-gum{
    height: 49.93rem;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 100px 120px;
    display: flex;
}

.bubble-gum .chewing-image{
    height: 90%;
    width: 100%;
    /* background-color: lightpink; */
    display: flex;
    
}


.bubble-gum #image1{
    width: 37.812rem;
    height:  37.43rem;
    background: url(public/images/ball-bubble-gum.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
     /* padding-right: 40px; */
    
}


.bubble-gum #image2{
    width: 37.812rem;
    height:  37.43rem;
    /* padding-right: 40px; */
    padding: 0px 40px;

   
}

.footer{
    width:  100%;
    height: 528px;
    border-radius: 20px;
    background-color: var(--btnCLR);
    margin: 20px 0px;

}


.footer .part1{
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;

}

.part1 .B1{
    width: 45%;
    /* background-color: coral; */
    padding-left: 15px;
   


}

.B1 .image1{
    height: 100px;
    width: 192px;
    
    background-color: white;
   
    border-radius: 10px;
    margin-top: 100px;
    
 
    
}
.image1 img{
    
    object-fit: cover;
    background-position: center; 
    
    height: 100%;
    width: 100%;
    border: 15px;
    
   
    
}

.B1 .anchor{
    height: 18px;
    width: 563px;
    /* background-color: blanchedalmond; */
   margin-top: 43px;
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;

}
.anchor a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
    font-family:var(--h1);
    
}

.B1 .details{
    height: 95px;
    /* background-color: darkcyan; */
    margin-top: 35px;
   
   
}
.details h6{
    font-size: 20px;
    color: white;
    font-weight: 600;

     font-family:var(--h1);
     line-height: 22px;
}
.details p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--h1);
    color: rgb(231, 227, 227);
     line-height: 22px;
     margin-top: 10px;

   
}

.footer .part2{
    height: 126.59px;
    width: 1300px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    margin: 20px 0px 20px  60px;
   
    border-top: 1px solid #FFFFFF1A;
    
}
.copy p{
    color: rgb(231, 227, 227);
    font-size: 15px;

}
.policy a{
    color: rgb(231, 227, 227);
    font-size: 15px;
    text-decoration: none;
}
.policy i{
    color: rgb(206, 200, 200);
    font-size: 15px;
    margin: 0px 16px;
   
}

.part1 .B2{
    width: 45%;
    /* background-color: darkgray; */
    padding-top: 5px;
    margin-top: 80px;


}
.B2 h6{
     font-size: 20px;
     font-weight: 600px;
    color: white;
     font-family:var(--h1);
     line-height: 3;
}

.B2 p{
     font-size: 16px;
    font-family:var(--h1);
    font-weight: 400;
    color: rgb(231, 227, 227);
}

.B2 .email{
    height: 50px;
    width: 620px;
    
    
    text-align: center;
    
   
    
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    
    
}
.email .input{
    height: 50px;
    width: 410px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.email input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #37b3c1b3;

    color: rgb(231, 227, 227);
    
    padding-left: 20px;
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    
    
    
}
.email input::placeholder{
   line-height: 100%;
   font-weight: 200;
   font-family: var(--h1);
   
   font-size: 14px;
  color: rgb(231, 227, 227);
  
    
}
.email .button{
    width: 211px;
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.email button{


    height: 100%;
    width: 100%;
   
    background-color:var(--iconClr);
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--h1);
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
.email button i{
    border: none;
    color: white;
}

.B2 .follow{
    height: 40px;
    width:420px;
    margin-top: 50px;
   
    /* background-color: blue; */
    
   
    
    display: flex;
    gap: 10px;
    align-items: center;

}
.follow h6{
    font-size: 20px;
       font-weight: 600px;
    color: white;
     font-family:var(--h1);
     line-height: 3;
}
.follow .ion{
    height: 40px;
    width: 40%;
    /* background-color: red; */
    display: flex;
    gap: 10px;
}
.follow i{

   
     height: 40px ;
     width: 40px;
     border: 3px solid white;
    background-color: white;
    color: var(--iconClr);
    padding: 6px;
    border-radius: 50px;
    font-size: 20px;
}


#menu-btn{
    color: #000;
    font-size: 15px;
    display: none;
}

#click-me{
     color: #000;
    font-size: 15px;
    display: none;
}

@media (max-width:768px){
    *{
        margin: 0%;
        padding: 0%;
    }
    html,body{
        height: 100%;
        width: 100%;

    }

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }

    .header .nav{
        display: none;
    }

    .header .icons{
        display: none;
    }

    .header #click-me{
        display: block;
       
       
    }
    .header #click-me a{
        text-decoration: none;
    }
    .header #menu-btn{
        display: block;
        color: #000;
    }

    .header .nav {
        position: absolute;
        top: 16%;
        right: 100%;

      
       background-color: #DEF6FA;
        border-radius: 20px;
        width: 35%;
        height:30%;
       
        transition: 1s ease-in-out; 
        /* margin-top: 130px;  */
       display: block;
       align-items: center;
       text-align: center;
      
       z-index: 99999;

    }
   .header .nav a{
        display: block;

        color: black;
        margin: 1rem;
        font-size: 15px;
    }
    .header .nav.active{
        right: 0%;
    }
    .header .icons {
        position: absolute;
        top: 18%;
        right: 100%;
        background-color: rgb(222, 245, 250);
        border-radius: 20px;
        width: 26%;
        height:25%;
        transition: 1s ease-in-out; 
        /* margin-top: 130px;  */
        display:flex;
        flex-direction: column;
       align-items: center;
       text-align: center;
      
      
       z-index: 99999;
    }
    .header .icons.active{
        right:0%;
    }
    .header .icons i{
        border: none;
        color: black;
        font-size: 15px;
    }
    .header button{
         padding: 5px 7.5px ;
         font-size: 14px;
         
    }
    .icons .black{
        color: black;
        background: transparent;
    }



    .about{
      
        width: 100%;
    }

    .mission{
        width: 100%;
        height: 100%;
        padding: 130px 40px;
    }

    .chewing-gum{
        height: 150%;
        width: 100%;
        padding: 50px 55px;
     
    }
    .chewing-gum .chewing-image{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bubble-gum {
        height: 150%;
        width: 100%;
         padding: 50px 55px;
    }
    .bubble-gum .chewing-image{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      
    }

     .footer{
        width: 100%;
        height: 120%;
        padding: 50px 60px;
        flex-direction: column;
        

    }
    .footer .part1{
        height: 90%;
        flex-direction: column;
        gap: 1px;
          
    }
    .part1 .B1{
        padding-left: 0px;
    }
    .part1 .B2{
       
        width: 100%;
        margin-top: 0px;
       
       
    }
    .B2 .follow{
        margin-top: 0px;
    }

    .part1 .image1{
        margin-top: 5px;
    }
    .footer .part2 {
        width: 100%;
        /* background-color: lightgreen; */
         margin: 10px 0px 20px  0px;

    }
    
    
}



@media (max-width:450px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    html,body{
        height: 100%;
        width: 100%;
    }

    .header{
        width: 100%;
        display: flex;
         justify-content: center;
        align-items: center;
    }

    .header .logo{
       height: 100%;
      
      
      
       padding: 0%;
       margin: 0%;
    }
    .header .nav {
        position: absolute;
        top: 16%;
        right: 100%;

      
       background-color: #DEF6FA;
        border-radius: 20px;
        width: 36%;
        height:37%;
       
        transition: 1s ease-in-out; 
        /* margin-top: 130px;  */
       display: block;
       align-items: center;
       text-align: center;
      
       z-index: 99999;

    }
   .header .nav a{
        display: block;

        color: black;
        margin: 1rem;
        font-size: 15px;
    }
    .header .nav.active{
        right: 0%;
    }
    .header .icons {
        position: absolute;
        top: 18%;
        right: 100%;
        background-color: rgb(222, 245, 250);
        border-radius: 20px;
        width: 30%;
        height:28%; 
       
        transition: 1s ease-in-out; 
        
        display:flex;
        flex-direction: column;
       align-items: center;
       text-align: center;
      
      
       z-index: 99999;
    }
    .header .icons.active{
        right:0%;
    }
    .header .icons i{
        border: none;
        color: black;
        font-size: 15px;
    }
    .header button{
         padding: 5px 7.5px ;
         font-size: 14px;
         
    }
    .icons .black{
        color: black;
        background: transparent;
    }

    .about{
        width: 100%;
    }
    .mission{
        width: 100%;
        height: 100%;
        text-align: justify;
        padding: 0%;
       
        
    }
    .mission .vission{
        width: 100%;
        height: 100%;
        padding: 0px;
        padding: 30px 40px;

    }

    .chewing-gum{
        width: 100%;
        padding: 20px 40px;
        height: 160%;
      

       
    }
    .chewing-gum .chewing-image{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        padding: 0%;
    }
    .chewing-image #image1{
        width: 100%;
      
    }
    .chewing-image #image2{
        width: 100%;
        
        padding: 0%;
        height: 100%;
        
    }
    #image2 .location{
        width: 100%;
        height: 30rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
       

    }
   
    .location #boxx1 p{
        font-size: 0.9rem;
      
       
    }
    .location #boxx2 p{
        font-size: 0.9rem;

    }
    
    .location #boxx3 p{
        font-size: 0.9rem;

    }
  
     
    

   


 


    .bubble-gum{
        width: 100%;
        padding: 20px 40px;
        height: 160%;
      
    }


    .footer{
        width: 100%;
        height: 140%;
       
        flex-direction: column;
       
        

    }

    .footer .part1{
        height: 90%;
        flex-direction: column;
        gap: 1px;
          
    }
    .part1 .B1{
        width: 100%;
       
        padding-left: 0px;
    }
    .B1 .anchor{
      
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap:50px;
      
    }
    .B1 .details{
        margin-top: 160px;
        align-items: center;
    }
    .part1 .B2{
       
        width: 100%;
      
       
    }
    .B2 .email{
     
        width: 100%;

    }
    .B2 .follow{
        margin-top: 0px;
        display: block;
        width: 100%;
        height: fit-content;
       
    }

  
    .footer .part2 {
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        padding: 0%;
        

    }

  



    
}
    